#titulo_principal {
    font-family: 'Nunito Sans', 'Sans-serif';
    color: rgb(74, 97, 136);
}

#titulo_principal:hover {
    color: hsl(224, 100%, 80%);
}

#titulos {
    font-family: 'Nunito Sans', 'Sans-serif';
}

.contenedor {
    font-family: 'Nunito Sans', 'Sans-serif';
    width: 65rem;
    height: auto;
    background-color: rgb(238, 255, 255);
    border-radius: 5px;
    margin-top: 50px;
    padding: 20px;
    font-size: 20px;
}

.contenedor2 {
    width: 65rem;
    height: auto;
    background-color: rgb(238, 255, 255);
    border-radius: 5px;
    margin-top: 50px;
    padding: 20px;
    font-size: 20px;
}

body {
    background-color: rgb(120, 140, 204);
}

a:hover {
    color: hsl(107, 26%, 47%);
}

#Ventajas {
    color: rgb(0, 106, 57);
}

.Desventajas {
    color: red;
}

.mayus {
    text-transform: uppercase;
}

#texto1 {
    text-align: justify;
    padding: 50px;
}

li {
    color: black;
}

ul {
    text-align: justify;
}

#listalinks li{
    text-align: center;
    margin-bottom: 25px;
}

.btn {
    
    background-color: #2b2b2b; 
    color: white; 
    border: none; 
    padding: 10px 20px; 
    font-size: 18px; 
    border-radius: 25px; 
    font-family: 'Nunito Sans', 'Sans-serif';;
}
