.btn {
    background-color: #2b2b2b; 
    color: white; 
    border: none; 
    padding: 10px 20px; 
    font-size: 18px; 
    border-radius: 25px; 
    font-family: 'Nunito Sans', 'Sans-serif';
}

body {
    background-color: rgb(120, 140, 204); 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px; 
    background: rgb(120, 140, 204);
    font-family: 'Nunito Sans', 'Sans-serif';
    padding: 20px;
}

.card-container {
    display: flex;
    flex-direction: column;
    width: 300px; 
    height: auto;
    background: #ffff;
    border-radius: 10px; 
    overflow: hidden; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header, .conclusion {
    padding: 20px;
    text-align: center;
}

.header a {
    position: relative;
    display: block;
}

.header img {
    width: 100px; 
    height: 100px; 
    border-radius: 50%;
    object-fit: cover; 
    box-shadow: 0 0 0 8px hsla(224, 92%, 80%, 0.407);
    margin: 20px auto; 
}

.header h2 {
    color: rgb(0, 21, 90);
}

.header h4 {
    margin-bottom: 20px;
}

.conclusion {
    background-color: #839bea91;
}

.conclusion p {
    margin: 20px 30px;
    font-size: 14px; 
}
